$dark: #353535;
$light: #ededed;
$border: #3d4b3f;
$background: #0d1710;
$text: #91a196;
$placeholder: #6a796f;
$shadow: inset 0 0 0.375rem rgba(0, 0, 0, 0.4);

$button--main: #3d4b3f;
$button--main--hover: #303d32;
$button--shadow: -0.375rem 0 0.375rem #263027;
$button--shadow--hover: -0.375rem 0 0.375rem #1d251e;
